# DS-SF-34 | Unit Project | 1 | Research Design | Starter Code

In this first unit project, you will create a framework to scope out data science projects.  This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

## Part A.  Evaluate the following problem statement:

> "Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and `activity score 1 = active user`, `0 = inactive user`) based on Hooli data from January-April 2015."

> ### Question 1.  What is the outcome?

Outcome is the number of free-tier customers who will pay for a subscription.

> ### Question 2.  What are the predictors/covariates?

Predicators are age, gender, location, profession and customer usesage.

> ### Question 3.  What timeframe is this data relevent for?

Time frame of the data is from January-April 2015

> ### Question 4.  What is the hypothesis?

Hypothesis is that the amount of usage postiviely correlates to the chance of a free-tier customer committing to a subscription.

## Part B.  Let's start exploring our UCLA dataset and answer some simple questions:

In [2]:
import os
import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[400 rows x 4 columns]

In [3]:
df.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

> ### Question 5.  Create a data dictionary

Answer: TODO

Variable | Description | Type of Variable
---| ---| ---
Admit | 0 = Not addmited 1 = admitted | Categorical 
GRE Score| Integer   | Continuous
GPA | Integer  | Continuous
Prestige | Integer  | Continous

We would like to explore the association between X and Y.

> ### Question 6.  What is the outcome?

Outcome is either admit = 0 or admit = 1.

### Question 7.  What are the predictors/covariates

Predicators are GRE Score, GPA, Prestige.

> ### Question 8.  What timeframe is this data relevent for?

Length of the dataset is 400. Data is drawn from 400 applicants and does not have a time variable. Because admission process only happens once a year, the time preiod is 1 year.

> ### Question 9.  What is the hypothesis?

Predicators of admission (GRE Score, GPA, Prestige of school) will differ in positive correlation to the admit rate. All will have a positive correlation, meaning the higher the number, the greater the admit rate.

> ### Question 10.  What's the problem statement?

> Using your answers to the above questions, write a well-formed problem statement.

An applicant has 3 variables that will determine his or her admission chances of UCLA. They are GPA, GRE Score, and Prestige of the school. It will be helpful to find the variable that has the correlation to the admission rate.

## Part C.  Create an exploratory analysis plan by answering the following questions:

Because the answers to these questions haven't yet been covered in class yet, this section is optional.  This is by design.  By having you guess or look around for these answers will help make sense once we cover this material in class.  You will not be penalized for wrong answers but we encourage you to give it a try!

> ### Question 11. What are the goals of the exploratory analysis?

Answer: TODO

> ### Question 12.  What are the assumptions of the distribution of data?

Answer: TODO

> ### Question 13.  How will determine the distribution of your data?

Answer: TODO

> ### Question 14.  How might outliers impact your analysis?

Answer: TODO

> ### Question 15.  How will you test for outliers?

Answer: TODO

> ### Question 16.  What is colinearity?

Answer: TODO

> ### Question 17.  How will you test for covariance?

Answer: TODO

> ### Question 18.  What is your exploratory analysis plan?

> Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: TODO